@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809;  /* warning color */
@define-color fgcolor #ffffff;  /* foreground color */
@define-color bgcolor #303030;  /* background color */
@define-color bgcolor #222436;  /* background color */
@define-color alert   #df3320;

@define-color accent1 #ff7a93;
@define-color accent2 #b9f27c;
@define-color accent3 #ff9e64;
@define-color accent4 #bb9af7;
@define-color accent5 #7da6ff;
@define-color accent6 #0db9d7;

* {
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}
#waybar {
    background-color: transparent;
    font-size: 14px;
    font-family: "Hack Nerd Font";
    box-shadow: none;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
    font-size: 120%;
}
#workspaces button.active {
    background-color: transparent;
    color: @accent1;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
    font-size: 120%;
}
#workspaces button.focused {
    background-color: #bbccdd;
    color: @accent2;
    font-size: 120%;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
    font-size: 120%;
}
#cpu,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio
#window#waybar {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}
window#waybar.hidden {
    opacity: 0.1;
}
window#waybar.empty,
window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}
#tray {
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}

#pulseaudio {
    color: @accent4;
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}
#pulseaudio-muted {
    color: @accent2;
}
#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #2a5c45;
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}
#cpu {
    color: @accent1;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}

#memory {
    color: @accent3;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}

#clock {
    color: @accent2;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
#mpris{
    color: #1e81b0;
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}
#mpris.paused {
    color: #1e81b0;
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    padding: 6px 10px 6px;
    margin-top: 8px;
    margin-left: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
}
label:focus {
    background-color: #000000;
}

