* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0; /*top right bottom left*/
}
/*
@keyframes collapse {
    from {
        min-width: 100px;
    }
    to {
        min-width: 10px;
    }
}*/
#waybar {
    /*background: #1e222a;
    color: #eeeeef;
    opacity: 0.9;*/
    background-color: transparent;
    font-size: 14px;
    font-family: "Hack Nerd Font";
    box-shadow: none;
}

#workspaces button {
    padding: 0;
    color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
    color: #fa5aa4;
}

#cpu,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio
#window {
    padding: 6px 10px 6px;
    border-radius: 25px;
    margin-top: 8px;
    /*background-color: #303643;*/

    background-color: #3a598c;
    color: #929db1;

    /*animation-name: collapse;
    animation-timing-function: steps(12);
    animation-iteration-count: 5;
    animation-delay: 5s;
    animation-duration: 2s;*/
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}
window#waybar.empty #window {
    background-color: transparent;
}
#tray {
    padding: 6px 10px 6px;
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 8px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}

#pulseaudio {
    padding: 6px 10px 6px;
    border-radius: 25px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    margin-top: 8px;
    margin-left: 8px;
    color: #0fb9b1;
    padding-right: 10px;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}

#cpu {
    padding: 6px 10px 6px;
    border-radius: 25px;
    margin-top: 8px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    color: #61afef;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}

#memory {
    padding: 6px 10px 6px;
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 8px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    color: #e5c07b;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}

#clock {
    padding: 6px 10px 6px;
    border-radius: 25px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    color: #ff6ec7;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}
#mpris{
    padding: 6px 10px 6px;
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 8px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    color: #1DB954;
    font-size: 14px;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}
#mpris.paused {
    padding: 6px 10px 6px;
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 8px;
    /*background-color: #303643;*/
    background-color: #3a598c;
    color: #1DB954;
    font-size: 14px;
    /*box-shadow: 3px 3px 6px -3px #fa5aa4;*/
}

#workspaces {
    margin-left: 8px;
}

